* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --color-background: #e5e5e5;
    --color-box-result: #FFFFFF; 
    --color-texto-input: #0A3871;
    --color-button-crip: #0A3871;
    --color-button-crip-text: #FFFFFF;
    --color-button-descrip-text: #0A3871;
    --color-button-descrip-border: #0A3871;
    --color-button-copy-border: #0A3871;
    --color-button-copy-text: #0A3871;
    --color-button-white-hover: #D8DFE8;
    --color-button-darkblue-hover: #082e5c;
    --color-text-warning: #495057;
    --color-text-result: #495057;
    --color-text-big: #343A40;
    --color-text-normal: #495057;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background);
}

.container {
    display: flex;  
    justify-content: space-evenly;
    gap: 80px;
    height: 100vh;
    padding: 3% 5%;
    margin: 0 auto;
}

.container__input {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container__input__textarea {
    height: 82%;
    padding-top: 80px;
    font-size: 2rem;
    background: none;
    color: var(--color-texto-input);
    border: none;
    outline: none;
    resize: none;
}

.container__input__textarea::placeholder {
    color: var(--color-texto-input);
}

.container__input__warning {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 0.75rem;
    color: var(--color-text-warning);
    margin-top: 16px;
}

.container__input__warning__image {
    width: 16px;
}

.container__input__buttons {
    display: flex;
    gap: 24px;
    margin: 16px 0px 32px 0px;
    justify-content: center;
}

.container__input__buttons__crip {
    font-size: 1rem;
    width: 100%;
    background-color: var(--color-button-crip);
    border: none;
    color: var(--color-button-crip-text);
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;
    outline: none;
}

.container__input__buttons__crip:hover {
    background-color: var(--color-button-darkblue-hover);
}


.container__input__buttons__descrip {
    font-size: 1rem;
    background: none;
    width: 100%;
    border: 1px solid var(--color-button-descrip-border);
    color: var(--color-button-descrip-text);
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;
    outline: none;
}

.container__input__buttons__descrip:hover{
    background-color: var(--color-button-white-hover);
}

.container__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    background-color: var(--color-box-result);
    border-radius: 32px;
    width: 30%;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.080);
}

.container__result__image {
    width: 100%
}

.container__result__title {
    color: var(--color-text-big);
    font-size: 1.5rem;  
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
    width: 100%;
}

.container__result__paragraph {
    margin-top: 16px;
    font-size: 1rem;
    color: var(--color-text-normal);
    text-align: center;
    width: 100%;
}

.container__result__textarea {
    font-size: 1.5rem;
    color: var(--color-text-result);
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
}

.container__result__copy-button {
    font-size: 1rem;
    background: none;
    border: 1px solid var(--color-button-copy-border);
    color: var(--color-button-copy-text);
    border-radius: 24px;
    padding: 24px;
    width: 100%;
    cursor: pointer;
    margin-top: 32px;
    outline: none;
}

.container__result__copy-button:hover {
    background-color: var(--color-button-white-hover);
}

@media (max-width: 1274px){
    .container {
        min-height: 984px;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 0;
        gap: 0;
    }

    .container__logo {
        margin-top: 74px;
    }
    
    .container__input {
        width: 100%;
        height: 55%;
    }

    .container__input__textarea {
        margin-top: 40px;
        padding-top: 40px;
    }

    .container__result {
        width: 100%;
        height: 45%;
        margin-top: 32px;
    }

    .container__result__image {
        display: none;
    }
}

@media (max-width: 576px) {
    .container {
        min-height: 933px;
        min-width: 300px;
    }

    .container__input {
        height: 60%;
    }

    .container__input__buttons {
        flex-direction: column;
    }

    .container__result {
        height: 40%;
    }
}